.css-preview-wrapper {
  	.content {
      display: inline;
      padding: .4em;
      background: #0D6AB7; 
      color: darkred;
      font-size: 200%;
      line-height: 1.5em;
      text-align: justify;
      text-justify: inter-word;
    }
    body {
      background-image: url(pexels-photo-665194.jpeg);
      width: 70%;
      background-repeat: no-repeat;
      background-blend-mode: normal;
      background-position: right;
    }
    .zanr {
      font-style: italic;
      text-decoration: underline;
      text-transform: lowercase;
    }
    
    h1 {
      color: darkred;
      font-family: Times New Roman, serif;
      font-size-adjust: 2em;
      text-align: left;
    }
    .autor, .name {
      font-weight: bold;
      font-size: 0,7em;
    }
    .zdroj{
      font-size: 0,7em;
      font-style: italic;
    }  
 }
     